=== p1 ===
 
QUALITY - is the video good enough? 
1.Specify your requirement– decide what you want to 
see and where, and select a system that will do it. 
2.View the recorded video, not the live screen, to    
assess the system performance. 
3.The system clock should be set correctly and     
maintained (taking account of GMT and BST). 
4.Video quality should not be reduced to fit the      
available storage capacity  of the system. 
5.Regular maintenance should be conducted on all 
aspects of the system. 
This document offers guidance to potential owners and operators of CCTV systems, where the video is  
intended to be used by the police. For recordings to be effective in detecting and investigating crime they 
must be fit for purpose and easily accessible by police investigators. There are four main areas that must 
be considered: 
STORAGE - is the video stored appropriately? 
EXPORT-can the video be easily exported from the system? 
PLAYBACK-can the video be easily viewed by authorized third parties? 
By ensuring that your CCTV system is capable of meeting a few simple requirements, the potential  
evidential value of the video can be greatly increased and the time taken by the police to access and  
process them greatly reduced.  Supporting notes are provided on the reverse of this sheet to clarify the 
requirements. 
quality what resolution?  
what compression? How many  
pictures per second? 
Storage what should I 
keep? How should I keep it?  
How long should I keep it? 
6.The system should be operated and the recorded 
video retained in a secure environment. 
7.Electronic access controls, such as passwords or 
encryption, should not prevent authorised access to 
the system or video recordings. 
8.The system should store good quality video 
throughout the retention period. 
9.The system should be capable of securing relevant 
video for review or export at a later date. 
 10. A system operator should be available to replay and 
export recordings. 
11. A simple system operator’s manual should be     
available locally to assist with replay and export. 
12. The operator should know the retention period of the 
system and export time for various amounts of video. 
13. The system should be able to quickly export video to  
a removable storage-medium, with time and date      
integral to the relevant picture. 
14. Export should include any software needed to view or 
replay the video. 
15. The system should have an export method            
proportionate to the storage capacity. 
16. Video should be exported in the native file format at 
the same quality as stored on the system. 
17.The playback software should: 
 have variable speed control including frame by 
frame, forward and reverse viewing; 
 display single and multiple cameras and maintain 
aspect ratio i.e. the same relative height and width; 
 display a single camera at full resolution; 
 permit the video from each camera to be searched 
by time and date; 
 allow printing and/or saving of still images with time 
and date. 
18. The time and date associated with each picture 
should be legible. 
19.It should be possible to replay exported video with 
no loss of quality.  
export How much video 
should the system export and 
in what format? 
playback  
can the pictures  
be easily viewed? 
UK Police Requirements  
for CCTV Systems 

=== p2 ===
 
QUALITY - is the video good enough? 
1. Before installing a CCTV system you should 
have a clear idea of what you want the system 
to do and how it should perform. This should 
include exactly what you want to see and 
where, e.g. recognise someone's face,  read a 
vehicle registration number or record a           
particular type of activity, such as an  exchange 
of money or an assault.  
There are no definitive performance criteria for    
video to be legally admissible. It is for the court 
to     decide whether the video is acceptable, 
and is done on the grounds of relevance,        
reliability of the evidence, etc.  
The appropriate resolution, level of compression 
and number of pictures per second will be             
determined by what you wish to see in the video            
recording. If you can’t see it then it’s not fit for    
purpose. It should not be expected that                  
enhancement features, such as digital zoom        
controls, will provide extra detail. 
A good way to ensure that the system is capa-
ble of achieving the requirement is to do a    
subjective test. Set-up a camera and get a           
volunteer to walk through the door or park a car 
in the place of interest and record the event. 
This should be done under the conditions that 
the system is intended to be used –               
performance of the system may be different 
when there are a number of cameras being   
recorded. 
2. The quality of the video may differ from the 
live display. Generally the recorded video and 
stills transmitted to a mobile phone are of poorer 
quality. 
3. Time and date information is critical to an         
investigation. If it is incorrect this can drain     
police time and resources.    
4. The quality of the video should not be               
compromised to allow the system to record for  
longer. There are several different ways of 
achieving this, dependent on the nature of the 
installation and the type of video recordings    
being made. Guidance should be sought from 
your local police force. 
5. To ensure continued video quality it is        
essential that regular maintenance of all aspects 
of the system be conducted - especially camera 
focus, cleaning of lenses, housings, etc. 
STORAGE - is the video stored appropriately? 
6. Access to the system and video recordings 
should be controlled to prevent tampering or un-
authorised viewing. A record should be kept of 
who has accessed the system and when.   
Further information on this can be found on the 
Information Commissioner’s website https://
ico.org.uk/for-organisations/sme-web-hub/
frequently-asked-questions/data-storage-
sharing-and-security/#whatsecurity or from your 
local Crime Prevention Officer. 
7. Electronic protection methods that require       
proprietary software or hardware will hinder an    
investigation if they prevent the video from     
being provided to authorised third parties –    
police, CPS, etc. Physical methods of access 
control, e.g. system in a locked room, can be 
just as effective. 
8. It is important that video recordings cover a    
sufficiently long period to assist in                    
investigations. Retention beyond 31 days may 
be useful in some circumstances, but should not 
affect the quality of the more recent recordings. 
Also due regard must be given to guidance from 
the Information Commissioner’s Office and the 
Surveillance Camera Commissioner. 
9. It should be possible to protect specific video    
recordings, identified as relevant to an           
investigation, to prevent overwriting before an 
investigator can view or extract them. 
EXPORT - can the video be easily exported 
from the system? 
10. and 11. It is unlikely that the investigator will 
be familiar with the operation of your system. To      
facilitate replay and export a trained operator 
and simple user guide should be available      
locally. 
12. and 13. Export of medium and large         
volumes of video can take a substantial period 
of time. The operator should know the retention 
period of the system and approximate times to 
export short (e.g. 15 minutes), medium (e.g. 24 
hours), and large (up to all of the system) 
amounts of video. 
14. If the software needed to replay the video is 
not included at export, viewing by authorised 
third-parties can be hindered. Export of a      
system event log or audit trail, and any system 
settings will assist with establishing the integrity 
of the pictures and system. 
15. The amount of video that an investigator will 
need to export will be dependent on the nature 
of the investigation. For example a shop robbery 
may only require a few stills or a short video 
clip, however a more serious incident such as a 
murder or terrorist related enquiry may require 
all the video on the system to be exported. It is 
essential that the system is capable of doing 
this quickly and to an appropriate medium. This 
could be a physical storage device or the       
capability to transfer files  electronically to a 
suitable recipient. It is essential this initial export 
is in the native format of the recording system.  
16. The system should not apply any further       
compression to the video when it is exported 
from the system as this can reduce the         
usefulness of the    content. Also, the video 
should not undergo any  format conversion that 
affects the content or its quality. 
PLAYBACK - can the video be easily viewed 
by 
authorised third parties? 
17. and 18. The replay software must allow the    
investigator to search the video effectively and 
see all the information contained and associated 
with it. 
19. It should be possible to replay exported    
video with no loss of quality. 
Content includes material subject to © Crown 
copyright (2022), Dstl. This material is licensed 
under the terms of the  
Open Government Licence 
